.events-list {

  position: relative;

  display: flex;
  flex-direction: column;

  gap: 14px;

  padding: 10px 4px 28px;
}

/* linea centrale */

.events-list::before {

  content: "";

  position: absolute;

  left: 50%;
  top: 0;
  bottom: 0;

  width: 1px;

  background: rgba(255,255,255,.08);

  transform: translateX(-50%);
  margin-bottom: 10px;
}

.event-line {

  display: flex;
  align-items: center;

  width: 100%;
}

.event-side {

  width: 50%;

  display: flex;
  align-items: center;
}
.event-side.home {

  justify-content: flex-start;

  padding-right: 14px;
}

.event-side.away {

  justify-content: flex-start;

  padding-left: 14px;
}

.event-card {

  display: flex;
  align-items: center;

  gap: 8px;

  font-size: 20px;
  font-weight: 800;

  min-height: 26px;

  white-space: nowrap;
}

.event-icon {

  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

.player-name {

  text-shadow:
    0 1px 2px rgba(0,0,0,.8),
    0 0 4px rgba(255,255,255,.08);

  letter-spacing: .2px;
}

.minute {

  opacity: .78;

  font-size: 17px;
  font-weight: 900;

  text-shadow:
    0 1px 2px rgba(0,0,0,.7);
}
