  <!-- MOMENTUM -->

            <div class="momentum-wrapper">

                <span class="momentum-label">
                    Ultimi 5 minuti
                </span>

                <div class="momentum-bar">

                    <div class="momentum-home" [style.width.%]="62" [style.background]="teams[0].colors.main">

                        62%

                    </div>

                    <div class="momentum-away" [style.width.%]="38" [style.background]="teams[1].colors.main"
                        [style.color]="teams[1].colors.second">

                        38%

                    </div>

                </div>

            </div>