.player-input-container {
    max-width: 750px;
}

.player-input-inner-container {
    max-width: 550px;
}

/* Card trasparente */
.waiting-room {
    background-color: transparent !important;
    border: 2px dashed #ccc;
    /* opzionale, per dare un contorno */
    box-shadow: none;
    /* rimuove ombra bootstrap */
}

/* Body trasparente */
.waiting-room .card-body {
    background-color: transparent !important;
}

/* Lista trasparente */
.waiting-room .list-group {
    background-color: transparent !important;
}

/* Singolo item trasparente */
.waiting-room .list-group-item {
    background-color: transparent !important;
    border: none;
    /* rimuove la riga */
    padding: 0.5rem 0;
    /* più compatto */
}

.player-list,
.player-list .card-body,
.list-group-item {
    background: transparent;
}

.list-group-item {
    cursor: pointer;
    transition: .2s;
}

.list-group-item:hover {
    background-color: rgba(#FFF, .5);
}

.card-wrapper {
    min-height: 150px;
}

.center-wrapper {
    width: 100%;
}

.center-wrapper-scopa {
    flex-wrap: wrap;
}

.left-wrapper,
.center-wrapper,
.right-wrapper {
    display: flex;
    justify-content: center;
    min-width: 150px;
}

.deck-card {
    min-width: 100px;
    width: 100px;
    height: 135px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    transition: transform 0.2s;
    /* position: absolute; */
    cursor: pointer;
}

/* Effetto hover solo per carte abilitare */
.deck-card:not(.deck-red-disabled):not(.deck-green-disabled):not(.deck-blue-disabled):not(.deck-yellow-disabled):not(.deck-wild-disabled):hover {
    transform: translateY(-20px);
} 
.card-body {
    padding: 10px;
}

.change-color-icon,
.plus-four-icon,
.denari,
.spade,
.bastoni,
.coppe {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

/* === DENARI === */
.denari-1 {
    background-image: url('../../../assets/images/Denari_1.svg');
}

.denari-2 {
    background-image: url('../../../assets/images/Denari_2.svg');
}

.denari-3 {
    background-image: url('../../../assets/images/Denari_3.svg');
}

.denari-4 {
    background-image: url('../../../assets/images/Denari_4.svg');
}

.denari-5 {
    background-image: url('../../../assets/images/Denari_5.svg');
}

.denari-6 {
    background-image: url('../../../assets/images/Denari_6.svg');
}

.denari-7 {
    background-image: url('../../../assets/images/Denari_7.svg');
}

.denari-fante {
    background-image: url('../../../assets/images/Denari_8.svg');
}

.denari-cavallo {
    background-image: url('../../../assets/images/Denari_9.svg');
}

.denari-re {
    background-image: url('../../../assets/images/Denari_10.svg');
}

/* === COPPE === */
.coppe-1 {
    background-image: url('../../../assets/images/Coppe_1.svg');
}

.coppe-2 {
    background-image: url('../../../assets/images/Coppe_2.svg');
}

.coppe-3 {
    background-image: url('../../../assets/images/Coppe_3.svg');
}

.coppe-4 {
    background-image: url('../../../assets/images/Coppe_4.svg');
}

.coppe-5 {
    background-image: url('../../../assets/images/Coppe_5.svg');
}

.coppe-6 {
    background-image: url('../../../assets/images/Coppe_6.svg');
}

.coppe-7 {
    background-image: url('../../../assets/images/Coppe_7.svg');
}

.coppe-fante {
    background-image: url('../../../assets/images/Coppe_8.svg');
}

.coppe-cavallo {
    background-image: url('../../../assets/images/Coppe_9.svg');
}

.coppe-re {
    background-image: url('../../../assets/images/Coppe_10.svg');
}

/* === SPADE === */
.spade-1 {
    background-image: url('../../../assets/images/Spade_1.svg');
}

.spade-2 {
    background-image: url('../../../assets/images/Spade_2.svg');
}

.spade-3 {
    background-image: url('../../../assets/images/Spade_3.svg');
}

.spade-4 {
    background-image: url('../../../assets/images/Spade_4.svg');
}

.spade-5 {
    background-image: url('../../../assets/images/Spade_5.svg');
}

.spade-6 {
    background-image: url('../../../assets/images/Spade_6.svg');
}

.spade-7 {
    background-image: url('../../../assets/images/Spade_7.svg');
}

.spade-fante {
    background-image: url('../../../assets/images/Spade_8.svg');
}

.spade-cavallo {
    background-image: url('../../../assets/images/Spade_9.svg');
}

.spade-re {
    background-image: url('../../../assets/images/Spade_10.svg');
}

/* === BASTONI === */
.bastoni-1 {
    background-image: url('../../../assets/images/Bastoni_1.svg');
}

.bastoni-2 {
    background-image: url('../../../assets/images/Bastoni_2.svg');
}

.bastoni-3 {
    background-image: url('../../../assets/images/Bastoni_3.svg');
}

.bastoni-4 {
    background-image: url('../../../assets/images/Bastoni_4.svg');
}

.bastoni-5 {
    background-image: url('../../../assets/images/Bastoni_5.svg');
}

.bastoni-6 {
    background-image: url('../../../assets/images/Bastoni_6.svg');
}

.bastoni-7 {
    background-image: url('../../../assets/images/Bastoni_7.svg');
}

.bastoni-fante {
    background-image: url('../../../assets/images/Bastoni_8.svg');
}

.bastoni-cavallo {
    background-image: url('../../../assets/images/Bastoni_9.svg');
}

.bastoni-re {
    background-image: url('../../../assets/images/Bastoni_10.svg');
}


.plus-four-icon {
    background-image: url('../../../assets/icons/plus-four-icon.svg');
}

.change-color-icon {
    background-image: url('../../../assets/icons/change-color-icon.svg');
}

.players-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    width: 80px;
    right: 0;
    height: 100vh;
}

.btn-blue {
    color: #fff;
    /* testo bianco */
    background-color: #0d6efd;
    /* blu classico */
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #0b5ed7;
    /* blu più scuro al passaggio */
    border-color: #0a58ca;
}

.btn-blue:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-blue:disabled {
    background-color: #0d6efd;
    opacity: 0.65;
    cursor: not-allowed;
}

.center-deck-wrapper {
    min-height: 300px;
}

/* Colori Scopa */
.deck-denari,
.deck-spade,
.deck-bastoni,
.deck-coppe {
    background-color: #FFF;
}

/* Colori UNO */
.deck-red {
    background-color: #e74c3c;
}

.deck-green {
    background-color: #27ae60;
}

.deck-blue {
    background-color: #3498db;
}

.deck-yellow {
    background-color: #f1c40f;
    color: black;
}

/* testo scuro per contrasto */
.deck-wild {
    background: linear-gradient(135deg, #000000, #333333, #555555, #000000);
    background-size: 400% 400%;
    animation: wildGradientBlack 5s ease infinite;
    color: white;
    /* testo leggibile sul gradiente */
}

.center-value {
    font-size: 32px;
    font-weight: bold;
}

.small-value {
    font-size: 12px;
    font-weight: bold;
}

.center-icon {
    transform: scale(2.5);
}

.center-icon-scopa {
    transform: scale(6.2) !important;
}


@keyframes wildGradientBlack {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.uno-deck-card {
    background-color: transparent;
}

.scopa-center-wrapper .deck-container {
    flex-direction: row;
    display: flex; 
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
    overflow: auto;
}

.not-selectable {
    background-color: #E4CFD5;
    pointer-events: none;
}
.not-selectable .center-icon-scopa {
    opacity: 0.5;
    filter: brightness(.8) contrast(1.2);
} 

.selected-card-icon {    
    width: 10px;
    height: 10px;
    z-index: 2000;
    top: 0;
    right: 19px;
    transform: scale(1.5);
}

.text-green {
    color: #45BB32!important;
}

.scopa-deck-card .card-body {
    background-image: url("../../../assets/images/scopa-deck-card.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.uno-deck-card .card-body {
    background-image: url("../../../assets/images/dos-deck-card.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* Carte disabilitate - colori UNO */
.deck-red-disabled {
    background-color: #AB3535;
    cursor: not-allowed;
}

.deck-green-disabled {
    background-color: #418E34;
    cursor: not-allowed;
}

.deck-blue-disabled {
    background-color: #2E4A74;
    cursor: not-allowed;
}

.deck-yellow-disabled {
    background-color: #C0A850;
    color: black;
    cursor: not-allowed;
}

.deck-wild-disabled {
    background-color: #333333;
    color: white;
    cursor: not-allowed;
}



.mini-card-wrapper {
    margin-top: 25px;
}

.mini-card {
    width: 55px;
    height: 40px;
    background-color: #9F2467;
    border: 1px solid #FFF;
    margin-top: -20px;
}