/* nav */ 
.top-nav,
.bottom-nav {
  display: flex;
  background: #001b75;
}

.top-nav {
  border-bottom: 2px solid #003cff;
}

.bottom-nav {
  border-top: 2px solid #003cff;
}

.nav-btn {
  flex: 1;
  background: transparent;
  color: #fff;

  border: none;

  padding: 14px 6px;
  font-size: 12px;
  font-weight: 700;

  border-left: 3px solid #1b7196;
  border-right: 3px solid #004a6e;
  cursor: pointer;
  height: 60px;
}

.nav-btn:active {
  background: #003cff;
}

.nav-yellow {
  color: #ffe600; 
}