/* cards */ 
.card {
  margin: 18px;
  background: rgba(0, 0, 0, .75);
  border-radius: 14px;
  overflow: hidden;
}

.card-title {
  background: #003cff;
  text-align: center;
  padding: 12px;
  font-weight: 900;
  font-size: 20px;
}