/* roles */ 


/* MINI CAMPO */
.role-box {
  width: 44px;
  height: 28px;

  position: relative;


  border: 1px solid #ffffff;

  overflow: hidden;
}

.role-box.fit-5{
  background: #1cac39;
}

.role-box.fit-4{
  background: #0f6320cb;
}

.role-box.fit-3{
  background:rgba(255, 251, 0, 0.693);
}

.role-box.fit-2{
  background:rgba(255, 174, 0, 0.512);
}

.role-box.fit-1{
  background:rgba(255,0,0,0.22);
}

.area-left{

  content:"";
  position:absolute;

  width:8px;
  height:16px;

  left:0;
  top:50%;

  transform:translateY(-50%);

  border-right:2px solid rgba(255,255,255,0.9);
  border-top:2px solid rgba(255,255,255,0.9);
  border-bottom:2px solid rgba(255,255,255,0.9);

  box-sizing:border-box;
}

.area-center {  
  

  position:absolute;

  width:1px;
  height:26px;

  right:47%;
  top:50%;

  transform:translateY(-50%);

  border-left:2px solid rgba(255,255,255,0.9);
  border-top:2px solid rgba(255,255,255,0.9);
  border-bottom:2px solid rgba(255,255,255,0.9);

  box-sizing:border-box;  
}
.area-midcircle{
  position:absolute;

  width:12px;
  height:12px;

  border:2px solid #fff;
  border-radius:50%;

  left:50%;
  top:50%;

  transform:translate(-50%, -50%);
}
.area-right {

  position:absolute;

  width:8px;
  height:16px;

  right:0;
  top:50%;

  transform:translateY(-50%);

  border-left:2px solid rgba(255,255,255,0.9);
  border-top:2px solid rgba(255,255,255,0.9);
  border-bottom:2px solid rgba(255,255,255,0.9);

  box-sizing:border-box;
}

/* PALLINO GIOCATORE */

.role-dot {
  width: 8px;
  height: 8px;

  border-radius: 50%;

  border: 1px solid #111;

  position: absolute;

  z-index: 2;
}

/* POSIZIONI RUOLO (esempio base GK) */ 

/* =========================
   COLORI
========================= */

.role-dot.gk{
  background:#ffd000;
}

.role-dot.cb,
.role-dot.lcb,
.role-dot.rcb,
.role-dot.lb,
.role-dot.rb{
  background:#2f6dff;
}

.role-dot.dm,
.role-dot.cm,
.role-dot.lcm,
.role-dot.rcm,
.role-dot.cam{
  background:#04d048;
}

.role-dot.lwm,
.role-dot.rwm{
  background:#04d048;
}

.role-dot.lw,
.role-dot.rw,
.role-dot.st{
  background:#ff3b3b;
}


/* =========================
   PROFONDITÀ CAMPO (LEFT)
========================= */

/* PORTIERE */
.role-dot.gk{
  left:0;
}

/* DIFENSORI CENTRALI */
.role-dot.cb,
.role-dot.lcb,
.role-dot.rcb{
  left:15%;
}

/* TERZINI */
.role-dot.lb,
.role-dot.rb{
  left:19%;
}

/* MEDIANO */
.role-dot.dm{
  left:35%;
}

/* CENTROCAMPISTI CENTRALI */
.role-dot.cm,
.role-dot.lcm,
.role-dot.rcm{
  left:30%;
}

/* ESTERNI CENTROCAMPO */
.role-dot.lwm,
.role-dot.rwm{
  left:55%;
}

/* TREQUARTISTA */
.role-dot.cam{
  left:65%;
}

/* ALI */
.role-dot.lw,
.role-dot.rw{
  left:calc(100% - 12px);
}

/* PUNTA */
.role-dot.st{
  left:calc(100% - 8px);
}


/* =========================
   POSIZIONE VERTICALE (TOP)
========================= */

/* CENTRO */
.role-dot.gk,
.role-dot.cb,
.role-dot.dm,
.role-dot.cm,
.role-dot.cam,
.role-dot.st{
  top:calc(50% - 4px);
}

/* CENTRO SINISTRA */
.role-dot.lcb,
.role-dot.lcm{
  top:calc(65% - 4px);
}

/* CENTRO DESTRA */
.role-dot.rcb,
.role-dot.rcm{
  top:calc(35% - 4px);
}

/* SINISTRA */
.role-dot.lb,
.role-dot.lwm,
.role-dot.lw{
  top:calc(100% - 8px);
}

/* DESTRA */
.role-dot.rb,
.role-dot.rwm,
.role-dot.rw{
  top:0;
}